<div class="container">
    <h3>Meus Eventos</h3>
    
    {{#each events}}
    {{this.name}}
    <br>
    {{this.city}}
    <br>
    {{this.description}}
    <br>
    {{this.private}}
    {{/each}}
</div>