@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100;300&display=swap');;

* {
  font-family: 'Anek Odia', sans-serif;
  }
  


.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.messages {
  padding: 1em;
  color: White;
  background-color: grey;
  border: 1px solid #b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto 0.5em;
  max-width: 60%;
}


/* LOGIN */ 

.container-login {
  margin: 50 50 50 50;
  height:36em;
  width: 70em;
}

#placeholder-name::placeholder, #placeholder-email::placeholder {
  color: black;
}

.container-addEvent {
  text-align: 0
}

.form-control {
  margin-left: 0em;
}

.form-labels {
  margin-left: 0;
}

.card {
  color: black;
  border-radius: 12px;
}