@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100;300&display=swap');;

* {
  font-family: 'Anek Odia', sans-serif;
  }

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.messages {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}


/* LOGIN */ 

.container-login {
  margin: 50 50 50 50;
  height:36em;
  width: 70em;
}

#placeholder-name::placeholder, #placeholder-email::placeholder {
  color: black;
}

.container-addEvent {
  text-align: 0
}

.form-control {
  margin-left: 0em;
}

.form-labels {
  margin-left: 0;
}

.card {
  color: black;
  border-radius: 12px;
}

h3 {
  margin-top: 10px;
}

 /*
#img-principal {
  margin-top: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 400px;
  height: 350px;
}
*/

#info-container {
  margin-top: 35px;

}

#img-container img {
  height: 300px;
  width: 600px;
  margin-top: 40px;
  border-radius: 10px;
}

#info-container i {
  color: red;
}


footer p {
  margin-bottom: 0;
}

.container-1 {
  margin-left: 60px;
}