* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  


.messages {
  padding: 1em;
  color: White;
  background-color: #ffc107;
  border: 1px solid #b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 0.5em;
  max-width: 60%;
}


/* LOGIN */ 

.container-login {
  margin: 50 50 50 50;
  height:36em;
  width: 70em;
}

#placeholder-name::placeholder, #placeholder-email::placeholder {
  color: red;
}

.container-addEvent {
  text-align: 0
}

.form-control {
  margin-left: 0em;
}

.form-labels {
  margin-left: 0;
}