<div class="container">
<H3 style="margin-top: 10px;">Editar meus dados: {{users.name}}</H3>
<hr>
<form action="/edit" method="POST">
<input type="hidden" name="id" value="{{user.id}}"/>
  <div class="form-group col-md-8">
    <label for="name">Nome Cadastrado:</label>
    <input type="text" class="form-control" id="placeholder-name" name="name" placeholder="{{users.name}}">
  </div>
  <br>
  <div class="form-group col-md-8">
    <label for="name">Endereço de email Cadastrado:</label>
    <input type="email" class="form-control" id="placeholder-email" name="email" placeholder="{{users.email}}">
  </div>
  <br>
  <button type="submit" class="btn btn-outline-danger">Alterar</button>
</form>
</div>  