<div class="container">
<hr>
<h4>Próximos Eventos</h4>
<div class="row">
        {{#each events}}
            <div class="col-sm-3">
                <div class="card  text-dark bg-light" style="width: 16rem; border-radius: 10px; margin-top:15px;">
                  <img style="border-top-left-radius:10px; border-top-right-radius:10px; max-width:256px; height:200px; " src="/img/imgEventos/{{this.image}}" class="card-fluid">
                  <div class="card-body text-dark">
                    <h5 class="card-title">{{ this.name }}</h5>
                    <p class="card-text">{{this.city}}</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-secondary">Saber Mais</a>
                  </div>
                         </div>    
                </div>
                 {{/each}}
            </div>

