<h3 style="text-align:center;">Eventos Anunciados</h3>
<hr>

<div class="row gap-3">
      {{#each events}}
         <div class="card border-dark mb-2" style="width: 14rem; margin-left: 70px; background-color: white">
            <img src="/img/imgEventos/{{this.image}}" style='width: 100%; height: 50%' class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <hr>
                <p class="card-text"><strong>Local:</strong>{{this.city}}</p>
                <a href="/events/saberMais"><button type="text" class="btn btn-outline-danger">Saber Mais</button></a>
                </div>
            </div>
      {{/each}}
  </div>
  </div>